<div class="shop-header">
  <h1>MotorRent Shop</h1>
  <p class="slogan">บริการเช่ารถที่ดีที่สุดสำหรับคุณ</p>
  <p class="description">
    ยินดีต้อนรับสู่ MotorRent Shop! เราเป็นร้านเช่ารถที่มีความหลากหลายของรถยนต์เพื่อให้คุณเลือกใช้ตามความต้องการ ไม่ว่าจะเป็นการเดินทางเพื่อธุรกิจหรือการท่องเที่ยว เรามีรถคุณภาพสูงให้บริการเพื่อให้คุณมีประสบการณ์การเดินทางที่สะดวกสบายและปลอดภัย
  </p>
</div>

<div class="showroom-container">
  <div class="product-display">
    <div *ngFor="let product of displayedProducts" class="product-card">
      <div class="product-image-container">
        <!-- แสดงรูปภาพของสินค้าในแนวนอน -->
        <div class="product-image">
          <img *ngFor="let img of product.imgList" [src]="img" alt="{{ product.productName }}">
        </div>
      </div>
      <div class="product-info">
        <h3>{{ product.productName }}</h3>
        <p>ราคา: {{ product.price | currency }} / 1 วัน</p>
        <button (click)="viewDetails(product.productId)">ดูข้อมูลเพิ่มเติม</button>
      </div>
    </div>
  </div>
</div>
